<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4" style="margin-top: 20px">Products</h1>
  <section class="jumbotron text-center">
   <div class="container">
     
      <form>
        <div class="form-group">
          <label for="inputHelp">Search Product</label>
          <div class="input-group mb-3">
              <input type="text" class="form-control input-lg" id="search" aria-describedby="instantSearch" placeholder="Search" name="search_term" />

              <div class="input-group-append">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
              </div>
            </div>
        </div>
      </form>

   </div>
 </section>
</div>

<div class="container">
  <div>

  <div class="card-deck mb-3 text-center" id="productSearchResults">

  <% if (products) { %>

      <% for (let i = 0; i < products.length; i++) { %>

        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal"> <%= products[i].name %> </h4>
          </div>
          <div class="card-body">
            <img class="card-img-top" src="<%= products[i].image %>" alt="Card image cap" style="width: 180px">
            <ul class="list-unstyled mt-3 mb-4">
              <li> $<%= products[i].price %>.00 </li>
            </ul>
            <a href="/api/product/product-page?<%= products[i]._id %>"><button type="button" class="btn btn-lg btn-block btn-outline-primary">View now</button></a>
          </div>
        </div>

        <% } %>

      <% } %>


      </div>

  </div>
  <% if (pages > 0) { %>
  <nav aria-label="..." class="d-flex justify-content-center">
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                        <li class="page-item"><a class="page-link">First</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/api/product/allproducts/1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="page-item"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="page-item"><a class="page-link"><%= i %></a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/api/product/allproducts/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="page-item"><a class="page-link">...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="page-item"><a class="page-link">Last</a></li>
                    <% } else { %>
                        <li><a class="page-link" href="/api/product/allproducts/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
                </nav>
            <% } %>
  
